@import "tailwindcss";

@theme {
  --font-prompt: "Prompt", sans-serif;
}

body {
  font-family: "Prompt", sans-serif;
}

.font-prompt {
  font-family: "Prompt", sans-serif;
}

/* Placeholder อยู่ตรงกลาง แต่ text อยู่ซ้าย */
input::placeholder {
  text-align: center;
}
